<!-- Footer template -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <span class="copyright">Created by Alberto Pou Quirós</span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <ul class="list-inline social-buttons">
                    <li><a href="https://instagram.com/bertini_36/" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a></li>
                    <li><a href="https://twitter.com/bertini_36/" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a></li>
                    <li><a href="https://www.linkedin.com/profile/preview?locale=es_ES&trk=prof-0-sb-preview-primary-button" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a></li>
                    <li><a href="https://github.com/bertini36" target="_blank">
                        <i class="fa fa-github"></i>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
